<div class="flex flex-column p-2">
<h3>Buscador</h3>
<mat-form-field>
  <mat-label>Buscador de celebridades </mat-label>
  <input type="text" matInput [formControl]="searchInput"
   (input)="searchCelebrity()"
   [matAutocomplete]="auto">

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
  (optionSelected)="onSelectedOption($event)">
    <mat-option
    *ngFor="let celebrity of celebrities"
    [value]="celebrity">
      {{celebrity.name}}
    </mat-option>
    <mat-option *ngIf="celebrities.length ===0 && searchInput.value && searchInput.value.length > 0"
    value="">
      No se encontro ninguna celebridad {{searchInput.value}}
    </mat-option>
  </mat-autocomplete>


</mat-form-field>

{{selectedCelebrity | json}}

</div>
